body{
    background-image: url(...);
    background-color: blue;
}
canvas {
    background-color: rgba(87, 224, 224, 0.57);
    background-image: url('img/backround.png');
    
}
.canvimg{
 display:none ;
    
}

